body{
    background-color: rgba(55, 0, 255, 0.1);
    justify-content: center;
    justify-items: center;
    text-align: center;
}

    .container{
        display: grid;
        grid-template-columns:30vb 30vb 30vb;
        width: 90vb;
        position: relative;
        right: -25%;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    .img{
        height: 25vh;
        width: 25vb;
       border-radius: 50%;
    }

    .img:hover{
        box-shadow:0 1rem 1rem rgba(255, 0, 0, 0.5);
        border-width: 100px;
        border-color:rgba(255, 0, 0, 0.5) ;
    }
    .scr{
        margin-top: 10vb;
        font-size: 20vb;
    }